[submodule "psxrecomp"]
	path = psxrecomp
	url = https://github.com/TekRantGaming/psxrecomp.git
	branch = simpsonswrestling
[submodule "third_party/trg-launcher"]
	path = third_party/trg-launcher
	url = https://github.com/TekRantGaming/trg-launcher.git
